.cover{
  text-align: center;
  margin: 0 auto;
  margin-top: 92px;
  margin-bottom: 92px;
  max-width: 1184px;
  max-height: 740px;

}

.cover__block{
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.cover__image{
  max-width: 100%;
  display: block;
  opacity: 0.7;
  background: #2A2C2F;
}

.cover__block-element{
  position: absolute;
  transform: translate(-50%, -50%);
}

.cover__block-element_position{
  position: absolute;
  padding: 100%;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease;
}

.cover__block-element_position:hover {
  background-color: rgba(42, 44, 47, 0.7);
}


.cover__title{
  color: #FFF;
  font-family: Inter;
  font-weight: 900;
  min-width: 656px;
  margin: auto;
  margin-bottom: 32px;
  font-size: 72px;
  text-align: center;
  font-style: normal;
  line-height: 76px;
}

.cover__text{
  color: #FFF;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  max-width: 280px;
  margin: auto;
  margin-bottom: 32px;
}

.cover__button{
  border-radius: 4px;
  background: #0278FE;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  margin: auto;
  text-decoration: none;
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  padding: 13px;
  font-style: normal;
  line-height: normal;
}

.cover__button:hover{
  background: #0063D2;
}

@media screen and (max-width: 768px){
  .cover{
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover{
    max-height: 254px;
  }

  .cover__title{
    margin-bottom: 16px;
    font-size: 2rem;
    line-height: 109.375%;
  }

  .cover__text{
    margin-bottom: 16px;
    font-size: 0.875rem;
    line-height: 114.286%;
  }
}
