.header{
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: 35px;
    margin-bottom: 92px;
}

.header__logo{
    margin: 0;
}

.header__title{
    color: #FFF;
    font-family: Inter;
    max-width: 793px;
    margin: 0;
    margin-top: 90px;
    text-align: center;
    font-size: 6rem;
    font-style: normal;
    font-weight: 900;
    line-height: 104.167%;
}

.header__subtitle{
    color: #FFF;
    font-family: Inter;
    font-weight: 400;
    max-width: 720px;
    margin: 0;
    margin-top: 35px;
    text-align: center;
    font-size: 1.875rem;
    font-style: normal;
    line-height: 120%;
}

.header__image{
    margin: 0;
    margin-top: 64px;
    width: 100%;
    max-width: 100%;
    height: auto;
    filter: grayscale(100%);
}

@media screen and (max-width:768px){
  .header{
    margin-bottom: 88px;
  }

  .section__subtitle-header{
    margin-top: 99px;
  }

  .header__image{
    margin-top:  69px;
  }
}

@media screen and (max-width: 320px){
  .header{
    margin-top: 20px;
    margin-bottom: 44px;
  }

  .header__logo{
    max-width: 200px;
  }

  .section__title-header{
    max-width: 288px;
    font-size: 2.5rem;
    line-height: 110%;
    margin-top: 50.15px;
  }

  .section__subtitle-header{
    margin-top: 60px;
    max-width: 288px;
    font-size: 1rem;
    line-height: 125%;
  }

   .header__image{
    margin-top: 40px;
  }
}
