.intro {
    max-width: 65%;
    margin: 0 304px 92px auto;
  }

.section__title-intro{
    max-width: 828px;
    margin:0 auto;
    margin-bottom: 75px;
    font-size: 3.375rem;
    font-style: normal;
    line-height: 107.407%;
}

.section__subtitle-intro{
    max-width: 736px;
    margin: 0;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 141.667%;
}

.section__subtitle-intro_author{
    text-align: right;
    margin-top: 9px;
}

.section__text-intro{
    margin: 0;
    margin-top: 32px;
    max-width: 720px;
    font-size: 1rem;
    line-height: 163%;
}