.intro {
    max-width: 65%;
    margin: 0 304px 92px auto;
  }

.intro__title{
    color: #FFF;
    font-family: Inter;
    font-weight: 900;
    max-width: 828px;
    margin:0 auto;
    margin-bottom: 75px;
    font-size: 3.375rem;
    font-style: normal;
    line-height: 107.407%;
}

.intro__subtitle{
    color: #FFF;
    font-family: Inter;
    font-weight: 400;
    max-width: 736px;
    margin: 0;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 141.667%;
}

.intro__author{
    color: #FFF;
    font-family: Inter;
    font-weight: 400;
    text-align: right;
    margin-top: 9px;
}

.intro__text{
    color: #FFF;
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    margin-top: 32px;
    max-width: 720px;
    font-size: 1rem;
    line-height: 163%;
}

@media screen and (max-width:780px){
  .intro{
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    max-width: 720px;
  }
  .intro__title{
    font-size: 3rem;
  }
}

@media screen and (max-width: 320px) {
  .intro{
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 38px;
    max-width: 320px;
  }

  .intro__title{
    max-width: 288px;
    font-size: 2rem;
    line-height: 109.375%;
  }

  .intro__subtitle{
    margin: auto 0;
    margin-top: 54px;
    max-width: 288px;
    line-height: 125%;
    font-size: 1.5rem;
  }

  .intro__subtitle_author{
    margin-top: 55px;
    font-size: 1.5rem;
    line-height: 141.667%;
  }

  .intro__text{
    margin: auto 0;
    margin-top: 18px;
    max-width: 288px;
    line-height: 163%;
    font-size: 1rem;
  }
}
